* {
  margin: 0;
  padding: 0;

  font-family: monospace, monospace;
}

html,
body,
.main {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.settings {
  position: absolute;

  margin: 5px;
}

.mainInput {
  border: none;
  outline: none;

  border-bottom: 1px black solid;

  margin: 5px;
}

.actionBar {
  display: flex;
  flex-direction: row;
}

.flag {
  width: 320px;
  min-height: 200px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.guessedFlags {
  position: absolute;
  right: 0;
  top: 0;

  height: 100vh;
  width: 150px;

  display: flex;
  flex-direction: column;
  align-items: center;

  overflow: scroll;
}

.guessedFlags > div {
  margin: 5px;
}
